/*color-orange: #e67e22*/
@font-face {
	font-family : "'Lato'";
	font-style : normal;
	font-weight : 200;
	src : local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/BTu4SsVveqk58cdYjlaM9g.ttf) format('truetype');
	}
@font-face {
	{
	font-family : "'Lato'";
	font-style : normal;
	font-weight :300;
	src : local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/4GwpJM7qx9X5Obd9KsnKxQ.ttf) format('truetype');
	}
}
@font-face {
	{
	font-family : "'Lato'";
	font-style : normal;
	font-weight : 500;
	src : local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/zpv3sOKAbMf4wff105oLjw.ttf) format('truetype');
	}
}
@font-face {
	{
	font-family : "'FontAwesome'";
	src : url('../fonts/fontawesome-webfont.eot?v=4.4.0');
	src : url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
	font-weight : normal;
	font-style : normal;
	}
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body, 
html {
	font-size: 20px;
	font-weight: 300;
	font-family: 'Lato';
	color: #555;
	background-color: #fff;
	overflow-x:hidden; 
}
textarea {
	resize: none;
}


/*------------------------------------------------------*/
/*REUSABLE COMPONENTS*/
/*------------------------------------------------------*/

/*----CLEARFIX----*/
.clearfix {
	content: " ";
	display: block;
	clear: both;
}
.clearfix:after {
	display: block;
	content: " ";
	clear: both;
}
/*----LINKS----*/
a:link, 
a:visited {
	color: #e67e22; 
	text-decoration: none;

}
a:hover,
a:active {
	color: #555;
	border-bottom: 1px solid transparent;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
section {
	padding: 80px 0;
}
.row{
	max-width: 1140px;
	margin: 0 auto; 
}

.box {
	padding: 1%;
}
/*----HEADERS----*/
h1,
h2,
h3, 
 {
	font-weight: 300;
	text-transform: uppercase;
}
h1 {
	margin-top: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 240%;
	word-spacing: 6px;
	letter-spacing: 1px;
}

h2 {
	font-size: 180%;
	margin-bottom: 50px;
	word-spacing: 2px;
	letter-spacing: 1px;
	text-align: center;
}
h2:after {
	display: block;
	height: 2px;
	width: 100px;
	content: " ";
	background-color: #e67e22;
	margin: 0 auto; 
	margin-top: 20px;

}

h3 {
	font-size: 120%;
	margin-bottom: 40px;
	word-spacing: 1.6px;
	letter-spacing: 0.6px;
	text-align: center;
}
h4 {
	font-weight: 300;
	font-size: 100%;
	word-spacing: 1px;
	letter-spacing: 0.5px;
	color: #e67e22;
	text-align: initial;
	display: inline-block;
}
h5 {
	font-size: 90%;
	margin-bottom: 15px;
	word-spacing: 0.85px;
	letter-spacing: 0.45px;
	text-align: center;
	color: #e67e22; 
}


/*----BUTTONS----*/
.btn {
	display: inline-block;
	padding: 10px 30px;
	border-radius: 200px;
	color: #fff;
	font-weight: 300;
	text-decoration: none;
	margin-top: 5px;
	-webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
	   -moz-transition: background-color 0.2s, border 0.2s, color 0.2s;
	    -ms-transition: background-color 0.2s, border 0.2s, color 0.2s;
	     -o-transition: background-color 0.2s, border 0.2s, color 0.2s;
	        transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn-full:link,
.btn-full:visited {
	color: #fff;
	background-color: #e67e22;
	border: 1px solid #e67e22;
	margin-right: 15px;
	
}
.btn-ghost:link,
.btn-ghost:visited {
	color: #e67e22;
	border: 1px solid #e67e22;
}

.btn:hover, 
.btn:active {
	background-color: #cf6d17;
}
.btn-full:hover,
.btn-full:active {
	border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
	color: #fff;
	border: 1px solid #cf6d17;
}
/*-----ICONS-----*/
.icon-small {
	display: inline-block;
	width: 30px;
	text-align: center;
	color: #e67e22;
	font-size: 120%;
	margin-right: 10px;
	line-height: 120%;
	vertical-align: middle;
	margin-top: -4px;
}
.icon-big {
	display: block;
	text-align: center;
	font-size: 150%;
	margin-bottom: 30px;
	line-height: 150%;
	vertical-align: middle;
	margin-top: -4px;
	color:  #e67e22;
}


/*-------------------*/
/*-------HEADER------*/
/*-------------------*/
header {
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),  url('images/kod-min.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}


.main-nav {
	list-style-type: none;
	float: right;
	margin-top: 45px;
	margin-right: 45px;

}

 .main-nav li {
	display: inline-block;
	margin-right: 20px;
}
.main-nav li:last-child {
	margin-right: 0;
}
.main-nav li a:link, 
.main-nav li a:visited {
	color: #fff;
	font-size: 90%;
	padding: 8px 0;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 2px solid transparent; 
	-webkit-transition: border-bottom 0.2s;
	        transition: border-bottom 0.2s;
}

.main-nav li a:hover, 
.main-nav li a:active {
	border-bottom: 2px solid #e67e22;
	-webkit-transition: border-bottom 0.2s;
	        transition: border-bottom 0.2s;
}
/*sticky navi*/
.sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: rgba(255,255,255,0.98);
	box-shadow: 0 2px 2px #D6D5D5;
	z-index: 9998; 
}
.sticky .main-nav {
	list-style-type: none;
	margin-top: 15px;
	
}
.sticky .main-nav li {	
	margin-bottom:15px;
}

.sticky .main-nav li a:link, 
.sticky .main-nav li a:visited {
	color: #555;
	padding: 15px 0;
	}

.main-text-box {
	width: 80%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
	.main-text-box h3{
		color: #e67e22;
		text-align: initial;	
	}


/*-------------------*/
/*------PROFILE------*/
/*-------------------*/

.profile-frontend {
	height: 100%;
	margin-bottom: 50px;
	
}
	.profile {
		padding: 5px 0px 10px 20px;
		position: relative;
		
	}
		.profile-data-wrapper {
			position: absolute;
			top: -130px;
		}
.profile-text-wrapper {
	height: 100%;
	position: relative;

}
	.profile-text-wrapper > h4 {
		border: 1px solid #e67e22;
		padding: 0.2em;
		margin-bottom: 1em;
	}

	.profile-text {
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}

.my-photo {
	height: 100px;
}
.my-photo img {
	height: 100%;
	border-radius: 50%;
}

.ion-social-facebook:hover,
.ion-social-facebook:active {
	color: #3b5998;
	-webkit-transition: color 0.2s;
	        transition: color 0.2s;
}
.ion-social-twitter:hover,
.ion-social-twitter:active {
	color: #00aced;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
.ion-social-linkedin:hover,
.ion-social-linkedin:active {
	color: #007bb5;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
.profile-data {
	margin-bottom: 5px;

}
.profile-data a:link,
.profile-data a:visited {
	padding-bottom: 1px;
	border-bottom: 1px solid #e67e22;
	-webkit-transition: border-bottom 0.2s, color 0.2s;
	transition: border-bottom 0.2s, color 0.2s;
	
}
.profile-data a:hover,
.profile-data a:active {
	padding-bottom: 1px;
	border-bottom: 1px solid transparent;
	-webkit-transition: border-bottom 0.2s, color 0.2s;
	transition: border-bottom 0.2s, color 0.2s;
}
.profile-studies,
.profile-work {
	display: none;	
}

.profile-education-buttons {
	margin: 1.5em 0 3em 0;
	text-align: center;
}
	.profile-education-buttons .btn {
		margin-right: 4em;
	} 

.popup {
	display: none;
	background-color: rgba(255,255,255, 0.95);
	z-index: 9999;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}

.popup-container { 
	margin: 3em;
	border-radius: 1px;
	position: relative;
	/*border: 1px solid #cf6d17;*/
}
.popup-exit {
	position: absolute;
	top: -5%;
	right: -2%;	
	cursor: pointer;
}

.popup-on-body {
	overflow-y: hidden;
}

.btn-work, 
.btn-edu,
.btn-work:link,
.btn-work:visited
.btn-edu:link,
.btn-edu:visited {
	color: #fff;
	background-color: #e67e22;
	border: 1px solid #e67e22;
	margin-right: 15px;
	cursor: pointer;
}
.btn-work:hover,
.btn-work:hover
.btn-edu:active,
.btn-edu:active {
	border: 1px solid #cf6d17;
}

.popup-work {
	
}
.popup-edu {

}

.profile-education {
	
	float: left;
	
}
.profile-education > div {
	height: 150px;
	width: 100%;
	position: relative;
}
.profile-education-text {
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}

.profile-education-1,
.profile-education-3 {
	width: 49.35%;
	margin:auto;
	padding: 10px;
	text-align: center;
	
}

.profile-education-2 {
	
	width: 0.3%;
	background-color: #e67e22;
	margin: 0;
	padding: 0;
	z-index: 9;

}
.profile-education-2-work {
	height: 470px;
}
.profile-education-2-education {
	height: 620px;
}
.profile-icon-on-right,
.profile-icon-on-left {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0%, -50%);
	        transform: translate(0%, -50%);
}

.profile-icon-on-right {
	right: -36px;	
}
.profile-icon-on-left {
	left:-36px;	
}
.i-on-line {
	position: absolute;
	top: 50%;
	z-index:10;
	background-color: #fff;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}


/*-------------------*/
/*------SKILLS-------*/
/*-------------------*/
.section-skills {
	background-color: #fefbf8;
}

.languages-showcase {
	margin-bottom: 30px;

}
	.languages-showcase ul {
		padding-left: 20px;
	}
		.languages-showcase li {
			margin-bottom: 10px;
			list-style: initial;
			list-style:  
			text-align: justify;
			padding: 0.1em;
		}
			.languages-showcase li > h4 {
				padding: 0.1em;
			}
			.languages-showcase li:before {
				color: #e67e22; 
			}

/*-------------------*/
/*------HOBBIES-------*/
/*-------------------*/
.section-hobbies {
	background-color: #fefbf8;
}
.hobby-col {
	margin: auto 0;
	margin-bottom: 50px;
	background-size: cover;
	background-position: center;
	max-height: 250px;
	height: 250px;
	position: relative;
	box-shadow: 5px 5px 5px #000;
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	    -ms-transform: scale(1);
	     -o-transform: scale(1);
	        transform: scale(1);
	-webkit-transition: transform 1s;
	   -moz-transition: transform 1s;
	    -ms-transition: transform 1s;
	     -o-transition: transform 1s;
	        transition: transform 1s;
}
	.hobby-col:hover{
		-webkit-transform: scale(0.99);
		   -moz-transform: scale(0.99);
		    -ms-transform: scale(0.99);
		     -o-transform: scale(0.99);
		        transform: scale(0.99);
	}
.hobby-text {
	text-align: justify;
	width: 90%;
	margin: 0 auto;
}

.hobby-col-1 {
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('images/skiing-min.jpg');
	
}
.hobby-col-2 {
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('images/boardgame-min.jpg');
	
}

.hobby-col-3 {
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('images/taniec-min.jpg');
}
.hobby-wrapper{
	width: 100%;
	height: 100%;
} 
	
.hobby {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);	
	color: #fff;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0.5s, opacity 0.5s;
	   -moz-transition: visibility 0.5s, opacity 0.5s;
	    -ms-transition: visibility 0.5s, opacity 0.5s;
	     -o-transition: visibility 0.5s, opacity 0.5s;
	        transition: visibility 0.5s, opacity 0.5s;
}
	
	.hobby ul li {
		margin-bottom: 5px;
		text-align: center;
	}




/*-------------------*/
/*------FORM---------*/
/*-------------------*/
.contact-form {
	width: 80%;
	margin: 0 auto;
}
.contact-form-messages {
	width: 70%;
	margin: 0 auto;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 20px;
	text-align: center; 
}
.success {
	background-color: #3BD134;
}
.error {
	background-color: #E23333;
}

input[type=email],
input[type=text],
input[type=submit],
textarea {
	margin: 10px 0;
	width: 100%;
	padding: 7px;
	border: 1px solid #f2bc8d;
	border-radius: 3px;
}
input[type=submit] {
	background-color: #e67e22;
	color: #fff;
}
input[type=submit]:hover,
input[type=submit]:active {
	background-color: #cf6d17;
	border: 1px solid  #cf6d17;
	-webkit-transition: background-color 0.2s, border 0.2s ;
	        transition: background-color 0.2s, border 0.2s ;
}
*:focus {
	outline: none;
}
/*-------------------*/
/*------FOOTER-------*/
/*-------------------*/

footer {
	margin: auto 0;
	margin-top: 50px;
	width: 100%;
	font-size: 80%;
}

footer:before {	
	display: block;
	content: " ";
	height: 1px;
	width: 80%;
	background-color: #e67e22; 
	margin: 0 auto;

	
}
.footer-data ul {
	text-align: center;
}

.footer-data li{
	display: inline-block;
	padding: 20px 0;
	text-align: center;
}
.footer-data li:first-child {
	margin-right: 30px;
}
.footer-data li:last-child {
	margin-left: 30px;
}
